body {
    margin: 0;
    background: #f2f2b0;
    color: white;
}

.container {
    padding: 40px;
    text-align: center;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

h1 {
    color: #e37125;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    color: #e37125;
    font-weight: bold;
    margin-top: 10px;
}

h3 {
    color: white;
    font-weight: bold;
}

/* Navbar */

nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    background:#e37125;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #f2f2b0;
}

.portfolio-container {
    padding: 40px;
    text-align: center;
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #e37125;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
}